@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-light: #ABCCDF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a4a;
    --foreground: #ededed;
    --border-dark: #ACC7DD;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  margin: 1em;
}

/* Global Component Styling */

main {
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #6A6A6A;
  border-radius: 2px;
}

nav {
  border: 1px solid var(--border-light);
  width: max-content;
  border-radius: 4px;
}

nav a {
  padding: 0.25em;
}

form {
  border: 1px solid var(--border-light);
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}

button {
  border: 1px solid var(--border-light);
  border-radius: 2em;
  padding: 0.25em 1em;
  margin: 0.5em;
}

/* Dark mode */
@media(prefers-color-scheme:dark) {
  nav, form, button {
    border-color: var(--border-dark);
  }
}

.status {
  border: 2px solid black;
  border-radius: 1em;
  padding: 0.25em;
}
.status-ap {
  border-color: #30DF90;
}
.status-i1 {
  border-color: #6090FC;
}
.status-i2 {
  border-color: #AB20FC;
}
.status-i3 {
  border-color: #FB30FC;
}
.status-i4 {
  border-color: #80DDAB;
}
.status-wa {
  border-color: #FC9060;
}
.status-re {
  border-color: #E23080;
}